<STYLE>
    A {text-decoration:none}
    A IMG {border-style:none; border-width:0;}
    DIV {position:absolute; z-index:25;}
   .fc1-0 { COLOR:000000;FONT-SIZE:11PT;FONT-FAMILY:Arial;FONT-WEIGHT:BOLD;}
   .fc1-1 { COLOR:000000;FONT-SIZE:13PT;FONT-FAMILY:Arial;FONT-WEIGHT:BOLD;}
   .fc1-2 { COLOR:000000;FONT-SIZE:7PT;FONT-FAMILY:Arial;FONT-WEIGHT:NORMAL;}
   .fc1-3 { COLOR:000000;FONT-SIZE:7PT;FONT-FAMILY:Arial;FONT-WEIGHT:BOLD;}
   .fc1-4 { COLOR:000000;FONT-SIZE:9PT;FONT-FAMILY:Arial;FONT-WEIGHT:BOLD;}
   .fc1-5 { COLOR:000000;FONT-SIZE:5PT;FONT-FAMILY:Arial;FONT-WEIGHT:BOLD;}
   .fc1-6 { COLOR:000000;FONT-SIZE:6PT;FONT-FAMILY:Arial;FONT-WEIGHT:NORMAL;}
   .ad1-0 {border-color:000000;border-style:none;border-bottom-width:0PX;border-left-width:0PX;border-top-width:0PX;border-right-width:0PX;}
   .ad1-1 {border-color:000000;border-style:none;border-bottom-width:0PX;border-left-style:solid;border-left-width:1PX;border-top-width:0PX;border-right-width:0PX;}
   .ad1-2 {border-color:000000;border-style:none;border-bottom-width:0PX;border-left-style:solid;border-left-width:1PX;border-top-width:0PX;border-right-width:0PX;}
   .ad1-3 {border-color:000000;border-style:none;border-bottom-width:0PX;border-left-width:0PX;border-top-style:solid;border-top-width:1PX;border-right-width:0PX;}
   .ad1-4 {border-color:000000;border-style:none;border-bottom-style:solid;border-bottom-width:1PX;border-left-style:solid;border-left-width:1PX;border-top-style:solid;border-top-width:1PX;border-right-style:solid;border-right-width:1PX;}
   </STYLE>
   
   <TITLE>Reporte de analisis de modo y efecto de falla</TITLE>
   <BODY BGCOLOR="FFFFFF"LEFTMARGIN=0 TOPMARGIN=0 BOTTOMMARGIN=0 RIGHTMARGIN=0>
   
   <div style="left:211PX;top:98PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:32PX;">
   <table width="0px" height="26PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:971PX;top:98PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:32PX;">
   <table width="0px" height="26PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:364PX;top:98PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:95PX;">
   <table width="0px" height="89PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:746PX;top:98PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:159PX;">
   <table width="0px" height="153PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:68PX;top:221PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:982PX;">
   </div>
   <div style="left:962PX;top:192PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:65PX;">
   <table width="0px" height="59PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:850PX;top:222PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:35PX;">
   <table width="0px" height="29PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:67PX;top:191PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:983PX;">
   </div>
   <div style="left:68PX;top:161PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:983PX;">
   </div>
   <div style="left:68PX;top:129PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:982PX;">
   </div>
   <div style="left:518PX;top:265PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:494PX;">
   <table width="0px" height="488PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:606PX;top:266PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:490PX;">
   <table width="0px" height="484PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:994PX;top:281PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:478PX;">
   <table width="0px" height="472PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:894PX;top:281PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:157PX;">
   </div>
   <div style="left:1029PX;top:281PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:478PX;">
   <table width="0px" height="472PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:1017PX;top:281PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:478PX;">
   <table width="0px" height="472PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:1006PX;top:281PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:478PX;">
   <table width="0px" height="472PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:815PX;top:265PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:494PX;">
   <table width="0px" height="488PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:149PX;top:265PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:494PX;">
   <table width="0px" height="488PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:258PX;top:265PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:494PX;">
   <table width="0px" height="488PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:368PX;top:266PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:494PX;">
   <table width="0px" height="488PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:382PX;top:265PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:494PX;">
   <table width="0px" height="488PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:503PX;top:266PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:494PX;">
   <table width="0px" height="488PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:695PX;top:265PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:494PX;">
   <table width="0px" height="488PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:708PX;top:265PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:494PX;">
   <table width="0px" height="488PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:396PX;top:265PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:494PX;">
   <table width="0px" height="488PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:728PX;top:265PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:494PX;">
   <table width="0px" height="488PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:893PX;top:265PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:494PX;">
   <table width="0px" height="488PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:68PX;top:336PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:983PX;">
   </div>
   
   <DIV class="box" style="z-index:10; border-color:000000;border-style:solid;border-bottom-style:solid;border-bottom-width:1PX;border-left-style:solid;border-left-width:1PX;border-top-style:solid;border-top-width:1PX;border-right-style:solid;border-right-width:1PX;left:67PX;top:98PX;width:982PX;height:158PX;">
   <table border=0 cellpadding=0 cellspacing=0 width=975px height=152px><TD>&nbsp;</TD></TABLE>
   </DIV>
   
   <DIV class="box" style="z-index:10; border-color:000000;border-style:solid;border-bottom-style:solid;border-bottom-width:1PX;border-left-style:solid;border-left-width:1PX;border-top-style:solid;border-top-width:1PX;border-right-style:solid;border-right-width:1PX;left:67PX;top:265PX;width:983PX;height:493PX;">
   <table border=0 cellpadding=0 cellspacing=0 width=976px height=486px><TD>&nbsp;</TD></TABLE>
   </DIV>
   
   <DIV style="left:219PX;top:69PX;width:829PX;height:23PX;TEXT-ALIGN:CENTER;"><span class="fc1-0">( FMEA DE PROCESO )</span></DIV>
   
   <DIV style="left:217PX;top:43PX;width:831PX;height:24PX;TEXT-ALIGN:CENTER;"><span class="fc1-1">ANALISIS DE MODO Y EFECTO DE FALLA POTENCIAL</span></DIV>
   
   <DIV style="left:217PX;top:114PX;width:144PX;height:12PX;"><span class="fc1-2"><%= fmeas[0].pa9 %>&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</span></DIV>
   
   <DIV style="left:73PX;top:115PX;width:134PX;height:12PX;"><span class="fc1-2"><%= fmeas[0].pa6 %></span></DIV>
   
   <DIV style="left:370PX;top:115PX;width:370PX;height:12PX;"><span class="fc1-2"><%= fmeas[0].pa4 %></span></DIV>
   
   <DIV style="left:1015PX;top:110PX;width:28PX;height:15PX;TEXT-ALIGN:CENTER; font-family: Arial, sans-serif; font-size: 12PX;">
    <span class="fc1-2"><%= totalPages %></span>
</DIV>

<DIV style="left:1005PX;top:110PX;width:12PX;height:15PX;TEXT-ALIGN:CENTER; font-family: Arial, sans-serif; font-size: 12PX;">
    <span class="fc1-2">/</span>
</DIV>

<DIV style="left:984PX;top:110PX;width:23PX;height:15PX;TEXT-ALIGN:CENTER; font-family: Arial, sans-serif; font-size: 12PX;">
    <span class="fc1-2"><%= page %></span>
</DIV>

   
   <DIV style="left:976PX;top:99PX;width:58PX;height:15PX;">
     <span class="fc1-5">Página </span>
   </DIV>
   
   
   <DIV style="left:752PX;top:99PX;width:151PX;height:12PX;"><span class="fc1-5">Número da PFMEA</span></DIV>
   
   <DIV style="left:370PX;top:99PX;width:244PX;height:15PX;"><span class="fc1-5">Nombre de la pieza</span></DIV>
   
   <DIV style="left:217PX;top:99PX;width:146PX;height:15PX;"><span class="fc1-5">Diseño/Rev/Data</span></DIV>
   
   <DIV style="left:73PX;top:99PX;width:159PX;height:15PX;"><span class="fc1-5">Número de Pieza (Cliente)</span></DIV>
   
   <DIV style="left:752PX;top:177PX;width:290PX;height:12PX;"><span class="fc1-2"><%= fmeas[0].pa2 %></span></DIV>
   
   <DIV style="left:370PX;top:177PX;width:369PX;height:12PX;"><span class="fc1-2"><%= fmeas[0].pa8 %></span></DIV>
   
   <DIV style="left:73PX;top:206PX;width:668PX;height:12PX;"><span class="fc1-2"><%= fmeas.fm6 %><</span></DIV>
   <DIV style="left:73PX;top:206PX;width:668PX;height:12PX;"><span class="fc1-2"><%= fmeas[0].fm4 %></span></DIV>
   <DIV style="left:73PX;top:243PX;width:667PX;height:12PX;"><span class="fc1-2"><%= fmeas.fm5 %></span></DIV>
   
   <DIV style="left:752PX;top:243PX;width:93PX;height:12PX;"><span class="fc1-2"><%= fmeas[0].fm1 %></span></DIV>
   
   <DIV style="left:856PX;top:243PX;width:100PX;height:12PX;"><span class="fc1-2"><%= fmeas.fm12 %></span></DIV>
   
   <DIV style="left:967PX;top:243PX;width:78PX;height:12PX;"><span class="fc1-2"><%= fmeas[0].fm2 %></span></DIV>
   
   <DIV style="left:73PX;top:176PX;width:290PX;height:13PX;"><span class="fc1-2"><%= fmeas[0].cu1 %></span></DIV>
   
   <DIV style="left:752PX;top:146PX;width:296PX;height:13PX;"><span class="fc1-2"><%= fmeas[0].cu3 %></span></DIV>
   
   <DIV style="left:967PX;top:224PX;width:77PX;height:15PX;"><span class="fc1-5">Fecha clave</span></DIV>
   
   <DIV style="left:856PX;top:224PX;width:101PX;height:15PX;"><span class="fc1-5">Fecha Rev.</span></DIV>
   
   <DIV style="left:752PX;top:224PX;width:94PX;height:15PX;"><span class="fc1-5">Fecha de inicio</span></DIV>
   
   <DIV style="left:73PX;top:224PX;width:92PX;height:15PX;"><span class="fc1-5">Observaciones</span></DIV>
   
   <DIV style="left:967PX;top:194PX;width:48PX;height:15PX;"><span class="fc1-5">Fecha</span></DIV>
   
   <DIV style="left:752PX;top:194PX;width:87PX;height:16PX;"><span class="fc1-5">Aprobado Por</span></DIV>
   
   <DIV style="left:73PX;top:193PX;width:87PX;height:16PX;"><span class="fc1-5">Equipo:</span></DIV>
   
   <DIV style="left:752PX;top:164PX;width:282PX;height:16PX;"><span class="fc1-5">Número/Rev. Pieza (Organización)</span></DIV>
   
   <DIV style="left:370PX;top:164PX;width:368PX;height:13PX;"><span class="fc1-5">Modelo(s) Año/Vehiculo(s)/Aplicación</span></DIV>
   
   <DIV style="left:73PX;top:164PX;width:132PX;height:15PX;"><span class="fc1-5">Organización</span></DIV>
   
   <DIV style="left:752PX;top:131PX;width:122PX;height:12PX;"><span class="fc1-5">Cliente</span></DIV>
   
   <DIV style="left:370PX;top:131PX;width:108PX;height:13PX;"><span class="fc1-5">Responsable del Proceso</span></DIV>
   
   <DIV style="left:73PX;top:131PX;width:123PX;height:15PX;"><span class="fc1-5">Preparado Por</span></DIV>
   
   <DIV style="left:1034PX;top:284PX;width:11PX;height:50PX;">
   <table width="6PX" border=0 cellpadding=0 cellspacing=0>
   <tr><td class="fc1-5">N</td></tr>
   <tr><td class="fc1-5">P</td></tr>
   <tr><td class="fc1-5">R</td></tr></table>
   </DIV>
   
   <DIV style="left:1018PX;top:284PX;width:11PX;height:52PX;">
   <table width="6PX" border=0 cellpadding=0 cellspacing=0>
   <tr><td class="fc1-5">D</td></tr>
   <tr><td class="fc1-5">e</td></tr>
   <tr><td class="fc1-5">t</td></tr>
  
   </table>
   </DIV>
   
   <DIV style="left:1006PX;top:284PX;width:11PX;height:50PX;">
   <table width="6PX" border=0 cellpadding=0 cellspacing=0>
   <tr><td class="fc1-5">O</td></tr>
   <tr><td class="fc1-5">c</td></tr>
   <tr><td class="fc1-5">c</td></tr></table>
   </DIV>
   
   <DIV style="left:995PX;top:284PX;width:11PX;height:51PX;">
   <table width="6PX" border=0 cellpadding=0 cellspacing=0>
   <tr><td class="fc1-5">S</td></tr>
   <tr><td class="fc1-5">e</td></tr>
   <tr><td class="fc1-5">v</td></tr>
   </table>
   </DIV>
   
   <DIV style="left:904PX;top:269PX;width:139PX;height:11PX;TEXT-ALIGN:CENTER;"><span class="fc1-5">Resultados de las acciones</span></DIV>
   
   <DIV style="left:905PX;top:298PX;width:82PX;height:37PX;TEXT-ALIGN:CENTER;">
   <table width="77PX" border=0 cellpadding=0 cellspacing=0>
   <tr><td ALIGN="CENTER" class="fc1-5">Acciones Tomadas</td></tr>
   <tr><td ALIGN="CENTER" class="fc1-5">Fecha de Efectividad</td></tr></table>
   </DIV>
   
   <DIV style="left:819PX;top:286PX;width:72PX;height:34PX;TEXT-ALIGN:CENTER;">
   <table width="67PX" border=0 cellpadding=0 cellspacing=0>
   <tr><td ALIGN="CENTER" class="fc1-5">Responsable </td></tr>
   <tr><td ALIGN="CENTER" class="fc1-5">Plazo</td></tr></table>
   </DIV>
   
   <DIV style="left:732PX;top:286PX;width:81PX;height:34PX;TEXT-ALIGN:CENTER;">
   <table width="76PX" border=0 cellpadding=0 cellspacing=0>
   <tr><td ALIGN="CENTER" class="fc1-5">Acciones </td></tr>
   <tr><td ALIGN="CENTER" class="fc1-5">Recomendadas</td></tr></table>
   </DIV>
   
   <DIV style="left:713PX;top:274PX;width:11PX;height:60PX;TEXT-ALIGN:CENTER;">
   <table width="6PX" border=0 cellpadding=0 cellspacing=0>
   <tr><td ALIGN="CENTER" class="fc1-5">N</td></tr>
   <tr><td ALIGN="CENTER" class="fc1-5">P</td></tr>
   <tr><td ALIGN="CENTER" class="fc1-5">R</td></tr></table>
   </DIV>
   
   <DIV style="left:696PX;top:275PX;width:11PX;height:61PX;TEXT-ALIGN:CENTER;">
   <table width="6PX" border=0 cellpadding=0 cellspacing=0>
   <tr><td ALIGN="CENTER" class="fc1-5">D</td></tr>
   <tr><td ALIGN="CENTER" class="fc1-5">e</td></tr>
   <tr><td ALIGN="CENTER" class="fc1-5">t</td></tr>
   </table>
   </DIV>
   
   <DIV style="left:612PX;top:285PX;width:82PX;height:36PX;TEXT-ALIGN:CENTER;">
   <table width="77PX" border=0 cellpadding=0 cellspacing=0>
   <tr><td ALIGN="CENTER" class="fc1-5">Controles Actuales del </td></tr>
   <tr><td ALIGN="CENTER" class="fc1-5">Proceso Detección</td></tr></table>
   </DIV>
   
   <DIV style="left:505PX;top:274PX;width:11PX;height:62PX;TEXT-ALIGN:CENTER;">
   <table width="6PX" border=0 cellpadding=0 cellspacing=0>
   <tr><td ALIGN="CENTER" class="fc1-5">O</td></tr>
   <tr><td ALIGN="CENTER" class="fc1-5">c</td></tr>
   <tr><td ALIGN="CENTER" class="fc1-5">c</td></tr>
   </table>
   </DIV>
   
   <DIV style="left:520PX;top:284PX;width:81PX;height:37PX;TEXT-ALIGN:CENTER;">
   <table width="76PX" border=0 cellpadding=0 cellspacing=0>
   <tr><td ALIGN="CENTER" class="fc1-5">Controles actuales </td></tr>
   <tr><td ALIGN="CENTER" class="fc1-5">Proceso Prevención</td></tr></table>
   </DIV>
   
   <DIV style="left:405PX;top:284PX;width:93PX;height:37PX;TEXT-ALIGN:CENTER;">
   <table width="88PX" border=0 cellpadding=0 cellspacing=0>
   <tr><td ALIGN="CENTER" class="fc1-5">Causa Potencial de </td></tr>
   <tr><td ALIGN="CENTER" class="fc1-5">la Falla</td></tr></table>
   </DIV>
   
   <DIV style="left:384PX;top:270PX;width:11PX;height:66PX;TEXT-ALIGN:CENTER;">
   <table width="6PX" border=0 cellpadding=0 cellspacing=0>
   <tr><td ALIGN="CENTER" class="fc1-5">C</td></tr>
   <tr><td ALIGN="CENTER" class="fc1-5">l</td></tr>
   <tr><td ALIGN="CENTER" class="fc1-5">a</td></tr>
   <tr><td ALIGN="CENTER" class="fc1-5">s</td></tr>
   <tr><td ALIGN="CENTER" class="fc1-5">s</td></tr>
 </table>
   </DIV>
   
   <DIV style="left:370PX;top:276PX;width:11PX;height:60PX;TEXT-ALIGN:CENTER;">
   <table width="6PX" border=0 cellpadding=0 cellspacing=0>
   <tr><td ALIGN="CENTER" class="fc1-5">S</td></tr>
   <tr><td ALIGN="CENTER" class="fc1-5">e</td></tr>
   <tr><td ALIGN="CENTER" class="fc1-5">v</td></tr>
  </table>
   </DIV>
   
   <DIV style="left:273PX;top:284PX;width:86PX;height:37PX;TEXT-ALIGN:CENTER;">
   <table width="81PX" border=0 cellpadding=0 cellspacing=0>
   <tr><td ALIGN="CENTER" class="fc1-5">Efecto Potencial de </td></tr>
   <tr><td ALIGN="CENTER" class="fc1-5">la Falla</td></tr></table>
   </DIV>
   
   <DIV style="left:162PX;top:283PX;width:81PX;height:38PX;TEXT-ALIGN:CENTER;">
   <table width="76PX" border=0 cellpadding=0 cellspacing=0>
   <tr><td ALIGN="CENTER" class="fc1-5">Modo de falla </td></tr>
   <tr><td ALIGN="CENTER" class="fc1-5">Potencial</td></tr></table>
   </DIV>
   
   <DIV style="left:67PX;top:283PX;width:81PX;height:37PX;TEXT-ALIGN:CENTER;">
   <table width="76PX" border=0 cellpadding=0 cellspacing=0>
   <tr><td ALIGN="CENTER" class="fc1-5">Etapa del Proceso / </td></tr>
   <tr><td ALIGN="CENTER" class="fc1-5">Función&nbsp;&nbsp;/&nbsp;&nbsp;Requisito</td></tr></table>
   </DIV>
<!-- Datos dinámicos -->
<% let topPosition = 343; %>
<% fmeas.forEach((fmea) => { %>
    <DIV style="left:70PX;top:<%= topPosition %>PX;width:78PX;height:11PX;">
        <span class="fc1-6">op1 </span>
    </DIV>
    <DIV style="left:152PX;top:<%= topPosition %>PX;width:102PX;height:11PX;">
        <span class="fc1-6"><%= fmea.fm6 %></span>
    </DIV>
    <DIV style="left:266PX;top:<%= topPosition %>PX;width:98PX;height:11PX;">
        <span class="fc1-6"><%= fmea.fm7 %></span>
    </DIV>
    <DIV style="left:369PX;top:<%= topPosition %>PX;width:13PX;height:11PX;TEXT-ALIGN:CENTER;">
        <span class="fc1-6"><%= fmea.fm8 %></span>
    </DIV>
    <DIV style="left:398PX;top:<%= topPosition %>PX;width:103PX;height:11PX;">
        <span class="fc1-6"><%= fmea.fm9 %></span>
    </DIV>
    <DIV style="left:503PX;top:<%= topPosition %>PX;width:15PX;height:11PX;TEXT-ALIGN:CENTER;">
        <span class="fc1-6"><%= fmea.fm10 %></span>
    </DIV>
    <DIV style="left:610PX;top:<%= topPosition %>PX;width:80PX;height:11PX;">
        <span class="fc1-6"><%= fmea.fm11 %></span>
    </DIV>
    <DIV style="left:694PX;top:<%= topPosition %>PX;width:15PX;height:11PX;TEXT-ALIGN:CENTER;">
        <span class="fc1-6"><%= fmea.fm12 %></span>
    </DIV>
    <DIV style="left:709PX;top:<%= topPosition %>PX;width:17PX;height:11PX;TEXT-ALIGN:CENTER;">
        <span class="fc1-6"><%= fmea.fm8 * fmea.fm10 * fmea.fm12 %></span>
    </DIV>
    <% topPosition += 47; %>
<% }); %>

<!-- Controles de paginación -->
<div style="text-align:center; margin-top:20px;">
    <% if (page > 1) { %>
        <a href="/fmea?page=<%= page - 1 %>">⬅ Anterior</a>
    <% } %>

    <span>Página <%= page %> de <%= totalPages %></span>

    <% if (page < totalPages) { %>
        <a href="/fmea?page=<%= page + 1 %>">Siguiente ➡</a>
    <% } %>
</div>