<%- include ('styles'); %>

<div class="col-md-7">
    <div>
        
    </div>
    <table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Rev. interna</th>
            <!-- <th>password</th>
            <th>puesto</th>
            <th>área</th>
            <th>telefono</th>
            <th>correo</th> -->
        </tr>
    </thead>
  
    <tbody>
        <% for(var i = 0; i < pars.length; i++) { %>
      </div>
      <td><%= pars[i].pa6 %></td>
      <td><%= pars[i].pa1 %></td>
      <td><%= pars[i].pa2 %></td>
  
      <!-- <td><%= pars[i].pa3 %></td>
        <td><%= pars[i].pa4 %></td>
        <td><%= pars[i].pa5 %></td>
        <td><%= pars[i].pa6 %></td>
        <td><%= pars[i].pa7 %></td> -->
      
        <td class="plus">
                  
                    <a href="/par/edit/<%= pars[i]._id %>" class="edit-btn">Editar</a>

                    <a href="/ope/<%= pars[i]._id %>" class="edit-btn">Registrar Operación</a>

                    <a href="/psw/<%= pars[i]._id %>" class="edit-btn">PSW</a>

                    <a href="/ppap2/<%= pars[i]._id %>" class="edit-btn">02</a>

                    <a href="/ppap3/<%= pars[i]._id %>" class="edit-btn">03</a>

                    <a href="/ppap4/<%= pars[i]._id %>" class="edit-btn">04</a>

                    <a href="/ppap8/<%= pars[i]._id %>" class="edit-btn">08</a>

                    <a href="/ppap13/<%= pars[i]._id %>" class="edit-btn">13</a>

                    <a href="/ppap14/<%= pars[i]._id %>" class="edit-btn">14</a>

                    <a href="/ppap15/<%= pars[i]._id %>" class="edit-btn">15</a>

                    <a href="/ppap16/<%= pars[i]._id %>" class="edit-btn">16</a>

                    <a href="/ppap17/<%= pars[i]._id %>" class="edit-btn">17</a>

                    
                    <a href="/ppap2p/<%= pars[i]._id %>" class="download-btn" target="_blank">2p</a>
                    <a href="/ppap3p/<%= pars[i]._id %>" class="download-btn" target="_blank">3p</a>
                    <a href="/ppap4p/<%= pars[i]._id %>" class="download-btn" target="_blank">4p</a>
                    <a href="/ppap8p/<%= pars[i]._id %>" class="download-btn" target="_blank">8p</a>
                    <a href="/ppap13p/<%= pars[i]._id %>" class="download-btn" target="_blank">13p</a>
                    <a href="/ppap14pi/<%= pars[i]._id %>" class="download-btn" target="_blank">14p</a>
                    <a href="/ppap15p/<%= pars[i]._id %>" class="download-btn" target="_blank">15p</a>
                    <a href="/ppap16p/<%= pars[i]._id %>" class="download-btn" target="_blank">16p</a>
                    <a href="/ppap17p/<%= pars[i]._id %>" class="download-btn" target="_blank">17p</a>
                    <a href="/ppap2pi/<%= pars[i]._id %>" class="download-btn" target="_blank">2pi</a>

                  
                </td>
            </tr>
        <% } %>   
        </tbody>
    </table>
  </div>

  <%- include ('partials/_footer'); %>