<div>
    <a href="/pcp" class="btn">Volver</a>
</div>
<STYLE>
    A {text-decoration:none}
    A IMG {border-style:none; border-width:0;}
    DIV {position:absolute; z-index:25;}
   .fc1-0 { COLOR:000000;FONT-SIZE:13PT;FONT-FAMILY:Arial;FONT-WEIGHT:BOLD;}
   .fc1-1 { COLOR:000000;FONT-SIZE:6PT;FONT-FAMILY:Arial;FONT-WEIGHT:NORMAL;}
   .fc1-2 { COLOR:000000;FONT-SIZE:5PT;FONT-FAMILY:Arial;FONT-WEIGHT:BOLD;}
   .fc1-3 { COLOR:000000;FONT-SIZE:7PT;FONT-FAMILY:Arial;FONT-WEIGHT:BOLD;}
   .fc1-4 { COLOR:000000;FONT-SIZE:6PT;FONT-FAMILY:Arial;FONT-WEIGHT:BOLD;}
   .fc1-5 { COLOR:000000;FONT-SIZE:9PT;FONT-FAMILY:Arial;FONT-WEIGHT:BOLD;}
   .fc1-6 { COLOR:000000;FONT-SIZE:5PT;FONT-FAMILY:Arial;FONT-WEIGHT:NORMAL;}
   .ad1-0 {border-color:000000;border-style:none;border-bottom-width:0PX;border-left-width:0PX;border-top-width:0PX;border-right-width:0PX;}
   .ad1-1 {border-color:000000;border-style:none;border-bottom-width:0PX;border-left-style:solid;border-left-width:1PX;border-top-width:0PX;border-right-width:0PX;}
   .ad1-2 {border-color:000000;border-style:none;border-bottom-width:0PX;border-left-width:0PX;border-top-style:solid;border-top-width:1PX;border-right-width:0PX;}
   .ad1-3 {border-color:000000;border-style:none;border-bottom-width:0PX;border-left-width:0PX;border-top-style:solid;border-top-width:1PX;border-right-width:0PX;}
   .ad1-4 {border-color:000000;border-style:none;border-bottom-style:solid;border-bottom-width:1PX;border-left-style:solid;border-left-width:1PX;border-top-style:solid;border-top-width:1PX;border-right-style:solid;border-right-width:1PX;}
   .ad1-5 {border-color:000000;border-style:none;border-bottom-style:solid;border-bottom-width:1PX;border-left-style:solid;border-left-width:1PX;border-top-style:solid;border-top-width:1PX;border-right-style:solid;border-right-width:1PX;}
   </STYLE>
   
   <TITLE>Plan de Control de Proceso</TITLE>
   <BODY BGCOLOR="FFFFFF"LEFTMARGIN=0 TOPMARGIN=0 BOTTOMMARGIN=0 RIGHTMARGIN=0>
   
   <div style="left:642PX;top:84PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:35PX;">
   <table width="0px" height="29PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:479PX;top:84PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:159PX;">
   <table width="0px" height="153PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:333PX;top:84PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:36PX;">
   <table width="0px" height="30PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:964PX;top:84PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:96PX;">
   <table width="0px" height="90PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:836PX;top:119PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:31PX;">
   <table width="0px" height="25PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:66PX;top:119PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:984PX;">
   </div>
   <div style="left:881PX;top:180PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:32PX;">
   <table width="0px" height="26PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:66PX;top:210PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:984PX;">
   </div>
   <div style="left:725PX;top:149PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:32PX;">
   <table width="0px" height="26PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:66PX;top:149PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:984PX;">
   </div>
   <div style="left:163PX;top:119PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:31PX;">
   <table width="0px" height="25PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:66PX;top:180PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:984PX;">
   </div>
   <div style="left:748PX;top:267PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:488PX;">
   <table width="0px" height="482PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:662PX;top:267PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:488PX;">
   <table width="0px" height="482PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:586PX;top:250PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:505PX;">
   <table width="0px" height="499PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:360PX;top:268PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:204PX;">
   </div>
   <div style="left:562PX;top:250PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:505PX;">
   <table width="0px" height="499PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:479PX;top:267PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:488PX;">
   <table width="0px" height="482PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:391PX;top:268PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:488PX;">
   <table width="0px" height="482PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:359PX;top:250PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:505PX;">
   <table width="0px" height="499PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:254PX;top:250PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:505PX;">
   <table width="0px" height="499PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:117PX;top:250PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:505PX;">
   <table width="0px" height="499PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:784PX;top:285PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:471PX;">
   <table width="0px" height="465PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:819PX;top:267PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:489PX;">
   <table width="0px" height="483PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:914PX;top:250PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:505PX;">
   <table width="0px" height="499PX"><td>&nbsp;</td></table>
   </div>
   <div style="left:586PX;top:267PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:330PX;">
   </div>
   <div style="left:748PX;top:285PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:71PX;">
   </div>
   <div style="left:67PX;top:314PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:984PX;">
   </div>
   <div style="left:66PX;top:755PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:984PX;">
   </div>
   
   <DIV class="box" style="z-index:10; border-color:000000;border-style:solid;border-bottom-style:solid;border-bottom-width:1PX;border-left-style:solid;border-left-width:1PX;border-top-style:solid;border-top-width:1PX;border-right-style:solid;border-right-width:1PX;left:855PX;top:91PX;width:16PX;height:15PX;">
   <table border=0 cellpadding=0 cellspacing=0 width=10px height=8px><TD><FONT SIZE=0>&nbsp;</FONT></TD></TABLE>
   </DIV>
   
   <DIV class="box" style="z-index:10; border-color:000000;border-style:solid;border-bottom-style:solid;border-bottom-width:1PX;border-left-style:solid;border-left-width:1PX;border-top-style:solid;border-top-width:1PX;border-right-style:solid;border-right-width:1PX;left:729PX;top:91PX;width:16PX;height:15PX;">
   <table border=0 cellpadding=0 cellspacing=0 width=9px height=8px><TD><FONT SIZE=0>&nbsp;</FONT></TD></TABLE>
   </DIV>
   
   <DIV class="box" style="z-index:10; border-color:000000;border-style:solid;border-bottom-style:solid;border-bottom-width:1PX;border-left-style:solid;border-left-width:1PX;border-top-style:solid;border-top-width:1PX;border-right-style:solid;border-right-width:1PX;left:646PX;top:91PX;width:16PX;height:15PX;">
   <table border=0 cellpadding=0 cellspacing=0 width=10px height=8px><TD><FONT SIZE=0>&nbsp;</FONT></TD></TABLE>
   </DIV>
   
   <DIV class="box" style="z-index:10; border-color:000000;border-style:solid;border-bottom-style:solid;border-bottom-width:1PX;border-left-style:solid;border-left-width:1PX;border-top-style:solid;border-top-width:1PX;border-right-style:solid;border-right-width:1PX;left:66PX;top:84PX;width:983PX;height:157PX;">
   <table border=0 cellpadding=0 cellspacing=0 width=976px height=150px><TD>&nbsp;</TD></TABLE>
   </DIV>
   
   <DIV class="box" style="z-index:10; border-color:000000;border-style:solid;border-bottom-style:solid;border-bottom-width:1PX;border-left-style:solid;border-left-width:1PX;border-top-style:solid;border-top-width:1PX;border-right-style:solid;border-right-width:1PX;left:66PX;top:250PX;width:983PX;height:505PX;">
   <table border=0 cellpadding=0 cellspacing=0 width=976px height=497px><TD>&nbsp;</TD></TABLE>
   </DIV>
   
   <DIV style="left:190PX;top:42PX;width:856PX;height:24PX;TEXT-ALIGN:CENTER;"><span class="fc1-0">PLAN DE CONTROL DE PROCESO</span></DIV>
   
   <DIV style="left:74PX;top:106PX;width:257PX;height:11PX;"><span class="fc1-1"><%= pcps[0].cu3 %></span></DIV>
   
   <DIV style="left:340PX;top:107PX;width:113PX;height:11PX;"><span class="fc1-1"><%= pcps[0].pa6 %></span></DIV>
   
   <DIV style="left:74PX;top:86PX;width:122PX;height:12PX;"><span class="fc1-2">Cliente</span></DIV>
   
   <DIV style="left:486PX;top:85PX;width:146PX;height:15PX;"><span class="fc1-2">Revisión/Fecha Plan</span></DIV>
   
   <DIV style="left:970PX;top:86PX;width:58PX;height:15PX;"><span class="fc1-2">Pagina</span></DIV>
   
   <DIV style="left:984PX;top:103PX;width:23PX;height:13PX;TEXT-ALIGN:RIGHT;"><span class="fc1-3">1</span></DIV>
   
   <DIV style="left:1017PX;top:103PX;width:28PX;height:13PX;"><span class="fc1-3">1</span></DIV>
   
   <DIV style="left:340PX;top:86PX;width:159PX;height:15PX;"><span class="fc1-2">Numero de la Pieza (Cliente)</span></DIV>
   
   <DIV style="left:665PX;top:93PX;width:58PX;height:15PX;"><span class="fc1-4">Prototipo</span></DIV>
   
   <DIV style="left:748PX;top:93PX;width:101PX;height:15PX;"><span class="fc1-4">Prelanzamiento</span></DIV>
   
   <DIV style="left:874PX;top:93PX;width:84PX;height:15PX;"><span class="fc1-4">Producción</span></DIV>
   
   <DIV style="left:1007PX;top:102PX;width:12PX;height:16PX;TEXT-ALIGN:CENTER;"><span class="fc1-5">/</span></DIV>
   
   <DIV style="left:486PX;top:107PX;width:155PX;height:11PX;"><span class="fc1-1"><%= pcps[0].pa9 %></span></DIV>
   
   <DIV style="left:486PX;top:199PX;width:333PX;height:11PX;"><span class="fc1-1">&nbsp; - &nbsp;</span></DIV>
   
   <DIV style="left:74PX;top:199PX;width:407PX;height:12PX;"><span class="fc1-1">&nbsp; - &nbsp;</span></DIV>
   
   <DIV style="left:732PX;top:168PX;width:237PX;height:11PX;"><span class="fc1-1"><%= pcps[0].pa1 %><%= pcps[0].pa2 %></span></DIV>
   
   <DIV style="left:486PX;top:168PX;width:236PX;height:13PX;"><span class="fc1-1">&nbsp; - &nbsp;</span></DIV>
   
   <DIV style="left:74PX;top:229PX;width:404PX;height:11PX;"><span class="fc1-1">&nbsp; - &nbsp;</span></DIV>
   
   <DIV style="left:486PX;top:228PX;width:559PX;height:12PX;"><span class="fc1-1">&nbsp; - &nbsp;</span></DIV>
   
   <DIV style="left:169PX;top:138PX;width:311PX;height:11PX;"><span class="fc1-1"><%= pcps[0].pa4 %></span></DIV>
   
   <DIV style="left:843PX;top:138PX;width:126PX;height:11PX;"><span class="fc1-1"><%= pcps[0].cu2 %></span></DIV>
   
   <DIV style="left:486PX;top:138PX;width:341PX;height:11PX;"><span class="fc1-1"><%= pcps[0].or2 %></span></DIV>
   
   <DIV style="left:169PX;top:120PX;width:244PX;height:15PX;"><span class="fc1-2">Nombre de la Pieza</span></DIV>
   
   <DIV style="left:486PX;top:120PX;width:132PX;height:15PX;"><span class="fc1-2">Organización</span></DIV>
   
   <DIV style="left:732PX;top:152PX;width:227PX;height:16PX;"><span class="fc1-2">Número/Rev. Pieza (Organización)</span></DIV>
   
   <DIV style="left:969PX;top:151PX;width:80PX;height:15PX;"><span class="fc1-2">Fecha Inicio </span></DIV>
   
   <DIV style="left:970PX;top:120PX;width:77PX;height:15PX;"><span class="fc1-2">Fecha Rev.</span></DIV>
   
   <DIV style="left:74PX;top:120PX;width:110PX;height:12PX;"><span class="fc1-2">No.Plan Control</span></DIV>
   
   <DIV style="left:843PX;top:120PX;width:114PX;height:14PX;"><span class="fc1-2">Cód. Organización</span></DIV>
   
   <DIV style="left:74PX;top:151PX;width:87PX;height:16PX;"><span class="fc1-2">Equipo Principal</span></DIV>
   
   <DIV style="left:486PX;top:151PX;width:202PX;height:16PX;"><span class="fc1-2">Aprobación de la Organización / Fecha</span></DIV>
   
   <DIV style="left:486PX;top:181PX;width:302PX;height:16PX;"><span class="fc1-2">Aprobación Calidad Cliente/Fecha (si se necesita)</span></DIV>
   
   <DIV style="left:486PX;top:212PX;width:216PX;height:16PX;"><span class="fc1-2">Otra Aprobación / Fecha (si se necesita)</span></DIV>
   
   <DIV style="left:74PX;top:212PX;width:216PX;height:16PX;"><span class="fc1-2">Otra Aprobación / Fecha (si se necesita)</span></DIV>
   
   <DIV style="left:888PX;top:181PX;width:145PX;height:15PX;"><span class="fc1-2">Persona de Contacto / Teléfono</span></DIV>
   
   <DIV style="left:74PX;top:182PX;width:292PX;height:15PX;"><span class="fc1-2">Aprobación Ingeniería Cliente/Fecha (si se necesita)</span></DIV>
   
   <DIV style="left:480PX;top:283PX;width:82PX;height:17PX;TEXT-ALIGN:CENTER;"><span class="fc1-1">Proceso</span></DIV>
   
   <DIV style="left:392PX;top:283PX;width:87PX;height:14PX;TEXT-ALIGN:CENTER;"><span class="fc1-1">Producto</span></DIV>
   
   <DIV style="left:366PX;top:254PX;width:193PX;height:15PX;TEXT-ALIGN:CENTER;"><span class="fc1-1">Requisitos </span></DIV>
   
   <DIV style="left:365PX;top:281PX;width:21PX;height:13PX;TEXT-ALIGN:CENTER;"><span class="fc1-1">ID</span></DIV>
   
   <DIV style="left:586PX;top:254PX;width:328PX;height:16PX;TEXT-ALIGN:CENTER;"><span class="fc1-1">Método</span></DIV>
   
   <DIV style="left:750PX;top:291PX;width:34PX;height:12PX;TEXT-ALIGN:CENTER;"><span class="fc1-6">Cant.</span></DIV>
   
   <DIV style="left:786PX;top:291PX;width:32PX;height:12PX;TEXT-ALIGN:CENTER;"><span class="fc1-6">Frec.</span></DIV>
   
   <DIV style="left:750PX;top:271PX;width:67PX;height:10PX;TEXT-ALIGN:CENTER;"><span class="fc1-6">Muestra</span></DIV>
   
   <DIV style="left:68PX;top:264PX;width:48PX;height:35PX;TEXT-ALIGN:CENTER;">
   <table width="43PX" border=0 cellpadding=0 cellspacing=0>
   <tr><td ALIGN="CENTER" class="fc1-1">No.Pieza/ </td></tr>
   <tr><td ALIGN="CENTER" class="fc1-1">No. </td></tr>
   <tr><td ALIGN="CENTER" class="fc1-1">Operación</td></tr></table>
   </DIV>
   
   <DIV style="left:121PX;top:264PX;width:131PX;height:47PX;TEXT-ALIGN:CENTER;">
   <table width="126PX" border=0 cellpadding=0 cellspacing=0>
   <tr><td ALIGN="CENTER" class="fc1-1">Nombre del Proceso / </td></tr>
   <tr><td ALIGN="CENTER" class="fc1-1">Descripción de la Operación</td></tr></table>
   </DIV>
   
   <DIV style="left:255PX;top:258PX;width:103PX;height:52PX;TEXT-ALIGN:CENTER;">
   <table width="98PX" border=0 cellpadding=0 cellspacing=0>
   <tr><td ALIGN="CENTER" class="fc1-1">Maquinaria, Utillaje / </td></tr>
   <tr><td ALIGN="CENTER" class="fc1-1">Herramientas de </td></tr>
   <tr><td ALIGN="CENTER" class="fc1-1">Producción</td></tr></table>
   </DIV>
   
   <DIV style="left:563PX;top:251PX;width:22PX;height:60PX;TEXT-ALIGN:CENTER;">
   <table width="17PX" border=0 cellpadding=0 cellspacing=0>
   <tr><td ALIGN="CENTER" class="fc1-6">Cri</td></tr>
   <tr><td ALIGN="CENTER" class="fc1-6">ti</td></tr>
   <tr><td ALIGN="CENTER" class="fc1-6">ca</td></tr>
   <tr><td ALIGN="CENTER" class="fc1-6"></td></tr>
  
   <tr><td ALIGN="CENTER" class="fc1-6">&nbsp;&nbsp;</td></tr></table>
   </DIV>
   
   <DIV style="left:589PX;top:272PX;width:70PX;height:34PX;TEXT-ALIGN:CENTER;">
   <table width="65PX" border=0 cellpadding=0 cellspacing=0>
   <tr><td ALIGN="CENTER" class="fc1-1">Tol./Espec. del </td></tr>
   <tr><td ALIGN="CENTER" class="fc1-1">Prod./ Proc.</td></tr></table>
   </DIV>
   
   <DIV style="left:827PX;top:281PX;width:81PX;height:20PX;TEXT-ALIGN:CENTER;"><span class="fc1-1">Método de Control</span></DIV>
   
   <DIV style="left:924PX;top:271PX;width:115PX;height:16PX;TEXT-ALIGN:CENTER;"><span class="fc1-1">Plan de Reacción</span></DIV>
   
   <DIV style="left:664PX;top:272PX;width:83PX;height:34PX;TEXT-ALIGN:CENTER;">
   <table width="78PX" border=0 cellpadding=0 cellspacing=0>
   <tr><td ALIGN="CENTER" class="fc1-1">Técnica Eval./ </td></tr>
   <tr><td ALIGN="CENTER" class="fc1-1">Medición</td></tr></table>
   </DIV>
   
   <body>

    <% if (pcps.length > 0) { %>
        <% pcps.forEach((pcp, index) => { %>
            <div style="left:69PX; top:<%= 318 + (index * 20) %>PX; width:46PX; height:11PX;">
                <span class="fc1-1"><%= pcp.pc6 %></span> <!-- No de OP -->
            </div>
            <div style="left:121PX; top:<%= 318 + (index * 20) %>PX; width:131PX; height:11PX;">
                <span class="fc1-1"><%= pcp.pc7 %></span> <!-- Nombre de la OP -->
            </div>
            <div style="left:258PX; top:<%= 318 + (index * 20) %>PX; width:100PX; height:11PX;">
                <span class="fc1-1"><%= pcp.pc8 %></span> <!-- Máquina -->
            </div>
            <div style="left:361PX; top:<%= 318 + (index * 20) %>PX; width:29PX; height:11PX;">
                <span class="fc1-1"><%= pcp.pc9 %></span> <!-- No -->
            </div>
            <div style="left:394PX; top:<%= 318 + (index * 20) %>PX; width:82PX; height:11PX;">
                <span class="fc1-1"><%= pcp.pc10 %></span> <!-- Special CH -->
            </div>

            <!-- Nueva columna con tabla (pc11 - Proceso) -->
            <div style="left:481PX; top:<%= 318 + (index * 20) %>PX; width:79PX; height:33PX;">
                <table width="74PX" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="fc1-1"><%= pcp.pc11 %></td>
                    </tr>
                </table>
            </div>

            <div style="left:589PX; top:<%= 318 + (index * 20) %>PX; width:71PX; height:11PX;">
                <span class="fc1-1"><%= pcp.pc13 %></span> <!-- Tolerancia -->
            </div>
            <div style="left:665PX; top:<%= 318 + (index * 20) %>PX; width:83PX; height:11PX;">
                <span class="fc1-1"><%= pcp.pc14 %></span> <!-- Técnica de medición -->
            </div>
            <div style="left:751PX; top:<%= 318 + (index * 20) %>PX; width:32PX; height:11PX;">
                <span class="fc1-1"><%= pcp.pc15 %></span> <!-- Tamaño -->
            </div>
            <div style="left:786PX; top:<%= 318 + (index * 20) %>PX; width:31PX; height:11PX;">
                <span class="fc1-1"><%= pcp.pc16 %></span> <!-- Frecuencia -->
            </div>
            <div style="left:822PX; top:<%= 318 + (index * 20) %>PX; width:91PX; height:11PX;">
                <span class="fc1-1"><%= pcp.pc17 %></span> <!-- Método de control -->
            </div>
            <div style="left:917PX; top:<%= 318 + (index * 20) %>PX; width:128PX; height:11PX;">
                <span class="fc1-1"><%= pcp.pc18 %></span> <!-- Plan de reacción -->
            </div>
        <% }) %>
    <% } else { %>
        <p>No hay datos disponibles.</p>
    <% } %>

</body>
   <BR>
   </BODY></HTML>